/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    background-color: #81D8D0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* sets the width, margin, and background color of the content  */
.wrapper {
    width: 1000px;
    margin: 250px;
    margin-top: 0;
    background-color: white;
}

/* container holding starfish image and text  */
.container {
    position: relative;
    text-align: center;
    color: white;;
    font-size: 64px;
}

/* puts and centers text over the image  */
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* removes the underline from links */
a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* removes the bullets from the list, and makes the list horizontal like a navigation bar */
.wrapper section:nth-child(2) li {
    list-style: none;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 310px;
    box-sizing: border-box;
    border-right: solid;
}

.wrapper section:nth-child(2) li:nth-child(3) {
    border: none;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

p {
    line-height: 1.5;
}

/* resizes the image of starfish and makes the text go around the image  */
.starfish {
    width: 20%;
    height: 20%;
    float: left;
    margin: 10px;
}

/* stops the float effect  */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper section:nth-child(3) article {
    margin-top: 30px;
    margin-left: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.wrapper section:nth-child(4) {
    margin: 10px;
}

/* puts bullets on the list  */
.wrapper section:nth-child(4) li {
    list-style: disc;
    margin-left: 15px;
}

.contact {
    margin-left: 10px;
}

/* puts a thin border around the form  */
.border {
    border: groove;
    margin: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 8px 0;
}

/* resizes the input box  */
.biginput {
    height: 75px;
}

.wouldyou {
    font-size: 18px;
    margin: 10px;
    margin-bottom: 10px;
}

/* adjusts the position of the texts and buttons */
#yes {
    margin-left: -465px;
    margin-right: -465px;
}

#no {
    margin-left: -465px;
    margin-right: -465px;
}

#maybe {
    margin-left: -465px;
}

/* adjusts the size of the send button  */
.send {
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    margin: 30px;
    margin-left: 850px;
}