body {
    font-size: 18px;
}

header, footer {
    background-color: beige;
}

.site-title h1 {
    color: darkgreen;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

section ul li:nth-child(odd) {
    background-color: green;
}

nav ul li {
    list-style-type: none;
}

a:link {
    text-decoration: none; background-color: pink; border-style: dotted;
}

a:visited {
    background-color: red;
}

a:hover {
    background-color: orange;
}

a:active {
    background-color: hotpink;
}