/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* adds border box on everything */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /* uses open sans font from google fonts */
    font-family: "Opem Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
    margin: 0;
}

html {
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
}

.navigation {
    background-color: #222;
}

/* makes list items in a column */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    order: 1;
    position: relative;
}

ul li {
    margin: 10px;
}

a {
    text-decoration: none;
}

nav li:nth-child(1) a {
    color: black;
    background-color: #c78c06;
    padding: 127px 215px 0 215px;
}

nav li:nth-child(2) a {
    color: #c78c06;
}

nav li:nth-child(3) a {
    color: #c78c06;
}

nav li:nth-child(4) a {
    color: #c78c06;
}

nav li:nth-child(5) a {
    color: #c78c06;
}


.logo {
    position: relative;
    width: 100px;
    margin: 10px;
}

#search {
    width: 430px;
    margin: 10px;
    margin-right: 0;
}
#mag {
    margin: 10px;
    margin-left: 0;
    color: #c78c06;
    background-color: black;
    border: solid;
}

.welcome {
    position: relative;
}

.welimg {
    height: 500px;
    width: 100%;
}

.wel {
    color: white;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
}

/* puts text over image */
.welcomeHeadingContainer {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 275px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeHeadingContainer p {
    color: white;
    padding-top: 50px;
}

.welcomeHeadingContainer button {
    background-color: #c78c06;
    margin: 5px;
    height: 60px;
}

section {
    margin-top: 10px;
    height: 450px;
    position: relative;
    background-color: #ffe6ac;;
}

section h2 {
    font-weight: bold;
    margin: 20px;
    margin-left: 5px;
}



.abo {
    height: 200px;
    width: 100%;
}

.about h2 {
    font-size: 36px;
    margin: 10px;
    margin-left: 5px;
}

.about p {
    margin-top: 10px;
}

.ourservices h2 {
    font-size: 36px;
    margin: 10px;
    margin-top: 30px;
    font-weight: bold;
}

section h3 {
    font-size: 24px;
    margin: 10px;
    margin-top: 15px;
    font-weight: bold;
}

section p {
    margin: 10px;
}

.serimg {
    height: 250px;
    width: 100%;
}

.blackb {
    background-color: black;
    color: white;
    height: 50px;
    margin-top: 20px;
}

.vision {
    position: relative;

}

.visimg {
    width: 760px;
    height: 200px;
}

/* puts text over image */
.ourv {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.ourv button {
    background-color: black;
    color: white;
    height: 50px;
}

.vision {
    height: 200px;
}

.ourt {
    font-size: 36px;
    font-weight: bold;
    margin: 15px;
    margin-top: 40px;
}

.memimg {
    width: 100%;
    height: 300px;
}

.team {
    height: 1000px;
}

.member {
    height: 500px;
    margin-top: 10px;
}

.team h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
    margin-left: 10px;
    border-bottom: solid #c78c06;
}

.contactp {
    font-size: 36px;
    margin: 15px;
    font-weight: bold;
}

.contactus {
    background-color: white;
    height: 500px;
    width: 100%;
}

#fname {
    width: 100%;
    margin: 5px;
}

#email {
    width: 100%;
    margin: 5px;
}

#msg {
    width: 100%;
    margin: 5px;
    height: 100px
}

.contactus label {
    margin-left: 5px;
}

.contactus button {
    background-color: black;
    color: #c78c06;
    margin: 10px;
}

.hours {
    height: 200px;
    width: 760px;
}

table, thead, tr, th, td {
    border: solid;
}

table {
    width: 100%;
    height: 100px;
}

th {
    background-color: #ffe6ac;
    height: 50px;
    align-content: center;
}

tr {
    height: 20px;
}

.loc {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

footer {
    background-color: black;
    color: #c78c06;
    height: 100px;
}

footer a {
    color: #c78c06;
}

/* changes layout at 760 px wide */
 @media screen and (min-width: 760px) {
    .wrapper {
        width: 760px;
        margin: 0 auto;
    }

    .nav {
        display: flex;
        flex-direction: row;
    }

    .nav li:nth-child(1) a {
        height: 30px;
        width: 40px;
    }
 }
